<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main role="main">
	<section>
		<h1><%= title %></h1>
		<%= content %>
	</section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>